*{
  box-sizing: border-box;
  padding: 0;
  font-style: roboto;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #faaa8d;
  color: #201e1f;
}

#content {
  padding-top: 3rem; /* Adjust this value based on the height of your header */
  transition: padding-top 0.6s; /* Smooth transition for padding */
  z-index: 1; /* Ensure content stays above the header */
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #201e1f
}

img{
  max-width: 700px;
  max-height: 650px;
}


input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

#logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #201e1f;
  font-weight: 500;
}

header{
  position: fixed;
  /* display: block; */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 5%;
  z-index:1000;
}

header.sticky{
padding:10px  ;
background:#feefdd;
color: #201e1f;
}
/* TODO fix this */
/* header.sticky + #content {
  padding-top: 0; 
}
 */
/* #logo.sticky{
  color: #201e1f;
} */

header.sticky ul li a{
  color:#201e1f;
}
html {
  scroll-behavior: smooth;
  /* color:white; */
}
#login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-up-page{
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 1rem;
  margin: 0;
  list-style: none;
  padding-right: 5rem;
}

nav a {
  position: relative;
  text-decoration: none;
  display: block;
  color: #FFF;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: transform 0.6s ease;
}

nav a::after {
  content: ' ';
  position: absolute;
  bottom: -5px; /* Adjust the distance of the glow from the text */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height of the glow */
  border-radius: 20%;
  background-color: #fff; /* Color of the glow */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease; /* Smooth transition for the glow */
  box-shadow: 0px 1px 6px #fff; /* Add a glow effect */
}

nav a:hover::after {
  opacity: 1; /* Make the glow visible on hover */
}

nav a:hover {
  color: #50B2C0;
  transform: scale(1.1); /* Increase the size on hover */
}
form {
  background-color: #feefdd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #CCC;
  margin: 1rem auto;
  border-radius: .5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  width: 30%;
  min-width: 20rem;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(186, 186, 186, 0.75); 
  z-index: 1000; /* Make sure the modal is on top */
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #feefdd;
  padding: 1rem;
  border: 1px solid #CCC;
  margin: 1rem auto;
  border-radius: .5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  width: 30%;
  min-width: 20rem;
}

input[ type="text" ], input[ type="email" ], input[ type="password" ]{
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: .5rem;
  margin-bottom: 1rem;
  max-width: fit-content;
}
button{
  background: #201e1f;
  color: #feefdd;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color 0.2s ease; 
}
button:hover{
  background: #50B2C0;
  transition: background-color 0.2s ease; 
}

.active {
  color: #201e1f;
  font-weight: bold;
  font-style: italic;
}

#signUpSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
}
#signUpImg {
  width: 90%;
  height: 90%;
}


.hamburger {
  display: none; /* Hide the hamburger icon by default */
  cursor: pointer;
  width: 2rem;
}

/* Show the navigation links when the hamburger is clicked */
.show-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #50B2C0;
}


.mainPageSections {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTwo{
  max-width: 1200px;
}

.sectionTwo h2{
  font-size: 4rem;
  margin: 1rem 0;
  position: relative;
  top: 200px;
}

.infoSection{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.infoSectionImg{
  z-index: -1;
}

.left{
  width: 60%;
}
.btt{
  position: fixed;
  bottom: .2rem;
  right: .2rem;
  background-color: #faaa8d;
  color: #201e1f;
  padding: .2rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btt:hover{
  background-color: #201e1f;
  color: #feefdd;
  transition: background-color 0.2s ease;
}
@media screen and (max-width: 568px) {
  .hamburger {
    display: block;
    background-color: #feefdd;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
  }

  nav ul {
    display: none;
  }
  main{
    padding: 1rem;
  }
  p{
    font-size: 1.2rem;
  }
  .show-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #signUpSection {
    flex-direction: column;
    width: 90%;
  }

  form {
    width: 90%;
    margin: 1rem;
  }

  .sectionTwo h2 {
    font-size: 2.5rem;
    top: 100px;
  }

  .infoSection {
    flex-direction: column;
  }

  .left {
    width: 100%;
    text-align: center;
  }
  
}